<!-- <p>
  servers works!
</p> -->
<!-- <input class="form-control" (input)="onUpdateServer($event)"> -->
<input class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">
  Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated; else noServer">Server was created, {{serverName}}</p>
<!--#noServer is a marker to mark something as a local reference 
          to show something in a template conditionally-->
<ng-template #noServer>
  <p>No Server Created</p>
</ng-template>
<app-server *ngFor= "let server of servers"></app-server>
<!--<app-server></app-server>-->

